
  *{margin:0;padding:0}
  video{
     position:fixed;
     right:0;
     bottom:0;
     min-width:100%;
     min-height:100%;
     width:auto;
     height:auto;
     z-index:-9999;
   }
  ul li{list-style:none}
  a{text-decoration:none}
  div#vdo{height:80px;width:1200px;margin:0 0 0 10px;padding:0 ;border:1; }
  div#firstnav{height:50px;width:1200px;margin:0 0 0 240px;padding:0 ;border:1;background:#678; }
  div#secnav{width:200px; margin:0 0 0 6px; float:left; padding:0;border:0;
              background:transparent;
             }
  div#secnav{background:transparent url(../images/water/waterinfo2.png) 0 0 no-repeat;}
  div#home{float:left;width:160px;height:40px; text-align:center; background: url(../images/water/home150.jpg) 0 -50px no-repeat;margin:5px 0 0 24px; padding:14px 0 0 1px; }
  div#secnav ul {
        width:200px;
	display:block;
	padding:55px 0 5px 23px;
	font-size:16px;
	border-bottom:0px solid #ddd;
	text-decoration:none;
	}
  div#secnav li{padding:10px 0 5px 35px; border-bottom:0px;}
   div#secnav  a{
        
	padding:1px 0 5px 38px;
	font-size:16px;
	border-bottom:0px solid #ddd;
	text-decoration:none;
	background:#788;
         
  }
  div#secnav a:hover{
        border-bottom:1px solid #0479A7;
	color:#047987;
	background-color:transparent;
	}
  div#content{
       text-align:left;
       padding:20px 0 0 90px;
   }
  .menu  ul{padding:5 2 4 80; }
  .menu  ul li{float:left}
  .menu  ul li a {width:200px;  height:40px; text-align:center; line-height:40px; display:block; border-right:4px solid #ccc;border-right-color:#678; background:#e1e1e1; color:#666}
  .menu  ul li ul
    {
       position:absolute;
       padding:0;
       display:none;
     }
  .menu ul li ul li{float:none; }
  .menu ul li:hover  a{background-color:#8f8f8f;}
  .menu ul li:hover ul{display:block;} 
  .menu ul li:hover ul li a{  border-right:none; border-top:1px dotted #ccc; background:#f5f5f5;}
  .menu ul li ul li a:hover{ background:#9f9f9f;}
  .menu ul li:active a{background-color:#323242;}
